@import url(weather-icons.css);
@import url(weather-icons-wind.css);

body {
    background: linear-gradient(90deg, #7474BF 10%, #348AC7 90%);
}

#weather_wrapper {
    width: 400px;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.weatherCard1,
.weatherCard2 {
    width: 400px;
    height: 200px;
    font-family: 'Open Sans';
    position: relative;
    display: inline-block;
    float: left;
}

.weatherCardGroup {
    position: absolute;
    z-index: 1;
    width: 800px;
}

.nav {
    position: absolute;
    bottom: 0;
    /*width: 100%;*/
    /*text-align: center;*/
    z-index: 2;
    left: 211.5355px; /* 11:9  ((400-15.39)/20)*11 */
    padding: 0;
    margin: 0;
}

.nav li {
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.nav li:nth-child(2) {
    background: rgb(41, 41, 41);
}

.nav li:nth-child(1) {
    background: rgb(42, 178, 234);
}

.nav li:hover {
    background: #fff;
}

.currentTemp {
    width: 220px;
    height: 200px;
    background: rgb(41, 41, 41);
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
}

.currentWeather {
    width: 180px;
    height: 200px;
    background: rgb(237, 237, 237);
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
}

.temp {
    font-size: 80px;
    text-align: center;
    display: inline-block;
    font-weight: 300;
    color: rgb(255, 255, 255);
}

.location {
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    display: inline-block;
}

.lon-lat {
    text-align: center;
    text-transform: uppercase;
    display: block;
}

.conditions {
    font-family: weathericons;
    font-size: 80px;
    display: inline-block;
    text-align: center;
    line-height: 150px;
}

.info {
    width: 180px;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgb(42, 178, 234);
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
}

.humidity,
.wind,
.barometer,
.pm25,
.visibility,
.cloudsAll,
.pm10 {
    font-family: weathericons;
    width: 50%;
    font-size: 15px;
    float: left;
    height: 100%;
}

.info-icon, .text-icon {
    font-size: 25px;
    margin-right: 3px;
    line-height: 50px;
}

.text-icon {
    font: normal normal normal 12px/1 weathericons;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.pm10 span, .pm25 span {
    font-weight: normal;
}

.sun {
    height: 50px;
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 50px;
    border-top: solid #2f2e2e 1px;
}

.sun .sunrise, .sun .sunset {
    width: 50%;
    position: absolute;
    display: block;
}

.sun .sunrise {
    left: 0;
}

.sun .sunset {
    right: 0;
}

.sun .sun-icon {
    color: #fff;
    font-size: 25px;
    margin-right: 3px;
}

.sun .sunrise-text, .sun .sunset-text {
    color: #fff;
    font-size: 15px;
}

.aqi {
    position: absolute;
    right: 0;
    min-height: 25px;
    line-height: 25px;
    min-width: 25px;
    text-align: center;
    color: whitesmoke;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.aqi:after {
    width: 100px;
    text-align: left;
}

.i-table {
    border: 0;
    border-collapse: separate;
    border-spacing: 0;
    overflow: auto;
    width: 100%;
    table-layout: fixed;
    color: #fff;
}

.i-table th {
    font-size: 14px;
    border: 0;
    padding: 10px 15px;
    text-align: left;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 600;
    background-color: rgba(238, 246, 251, .3);
}

.i-table td {
    padding: 7px 15px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.i-table td:nth-child(1) {
    padding: 7px 10px;
}

.i-table tbody {
    overflow-y: auto;
    height: 160px;
    display: block;
}

.i-table thead, .i-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.i-date {
    cursor: pointer;
    font-weight: 900;
}

.i-weather {
    font-family: weathericons;
    font-size: 15px;
}

.float-right {
    float: right;
}

.action-refresh {
    height: 25px;
    width: 25px;
}

.action-refresh .wi-refresh {
    color: #ffffff30;
    font-size: 2em;
}

.action-refresh .wi-refresh:hover {
    color: #fff;
    cursor: pointer;
}
.action-refresh .wi-refresh.action{
    animation: rotate 2s linear infinite;
}



/**
旋转动画
 */
@keyframes rotate {
    0%,
    100% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
.center {
    text-align: center;
}