@import "~@/mixin.less";

@height: 200px;
@weight: 400px;

.page {
  font-family: Georgia, sans-serif;
  height: @height;
  width: @weight;
  background: linear-gradient(90deg, #7474BF 10%, #348AC7 90%);
  overflow: hidden;
}
