@import "~@/mixin.less";

.component {
  display: inline-block;
  transition: all 2s;
  .value {
    color: var(--textValueColor);
    font-weight: 500;
    font-size: 1.1em;
  }
  .title {
    color: @textTitleColor;
    font-size: .4em;
  }
}