:root {
  --themeColor: 0, 98, 177;
  --textValueColor: 0, 98, 177;

  --smallTextColor: 142, 142, 142
}

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  transition: all .2s;
}
